<%-include("header");-%>
<h1>About Us</h1>
<p>
  The company started on 2020.We are built with the hard work of our employees and trust of our clients and indigenous support of the company.
</p>
<p>
We are here to solve your challenges with you.
</p>
<%-include("footer")-%>
